<html>
    {% load static %}
    {% load crispy_forms_tags %}
    <head>
        <title>Django my_app</title>
        <link rel= "stylesheet" href=" {% static 'css/bootstrap.min.css' %}">
    </head>

    <body>
        <h1>Add wild</h1>
        <div class="container">
        <form method="POST">
           {% csrf_token %}
           {{form|crispy}}
           <input type="submit" class="btn btn-success">
        
        </form>
        <a href="{% url 'index.html'%}">Back home</a>
        {% if msg %}
         {{msg}}
        {% endif %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">species_type</th>
                    <th scope="col">no_of_species</th>
                    <th scope="col">game-park</th>
                </tr>
            </thead>
        </table>

    </div>
        
    
    </body>
</html>