{% extends './base.html' %}
{% load crispy_forms_tags %} 
{% block content %}

        <h1>Add payment</h1>
        <div class="container">
        <form method="POST">
           {% csrf_token %}
           {{form|crispy}}
           <input type="submit" class="btn btn-success">
        </form>
        <a href="{% url 'index.html'%}">Back home</a>
        {% if msg %}
         {{msg}}
        {% endif %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">payment_date</th>
                    <th scope="col">visitor</th>
                    <th scope="col">amount</th>
                    <th scope="col">received_by</th>
                </tr>
            </thead>

            <tbody>
                {% for payment in payment %}
                <tr>
                    <th scope="row">{{payment.id}}</th>
                    <td>{{payment.payment_date}}</td>
                    <td>{{payment.visitor}}</td>
                    <td>{{payment.amount}}</td>
                    <td>{{payment.received_by}}</td>

                    <td>
                        <a href="">Edit</a>|
                        <a href="">Delete</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
        </div>
       
{% endblock content %}