{% extends './base.html' %}
{% load crispy_forms_tags %} 
{% block content %}
        
<h1><button type="submit" class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    add game park
    </button></h1>
       <!-- Button trigger modal -->

   

   <div class="container">

   </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">name</th>
                    <th scope="col">address</th>
                    <th scope="col">contact_person</th>
                    <th scope="col">contact</th>
                    <th scope="col">warden</th>
                </tr>
            </thead>
            <tbody>
                {% for game_park in game_park %}
                <tr>
                    <th scope="row">{{game_park.id}}</th>
                    <td>{{game_park.name}}</td>
                    <td>{{game_park.address}}</td>
                    <td>{{game_park.contact_person}}</td>
                    <td>{{game_park.contact}}</td>
                    <td>{{game_park.warden}}</td>

                    <td>
                        <a href="{% url 'edit_game_park_page' game_park.id %}">
                            <i class="fas fa-edit"></i> |
                        </a>
                        <a href="{% url 'delete_game_park_page' game_park.id %}"
                            onClick="return confirm('confirm to delete')">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        </div>
        
{% endblock content %}