{% extends './base.html' %}
{% load crispy_forms_tags %} 
{% block content %}

        <h1>Add wild</h1>
        <div class="container">
        <form method="POST">
           {% csrf_token %}
           {{form|crispy}}
           <input type="submit" class="btn btn-success">
        
        </form>
        <a href="{% url 'index.html'%}">Back home</a>
        {% if msg %}
         {{msg}}
        {% endif %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">species_type</th>
                    <th scope="col">no_of_species</th>
                    <th scope="col">game-park</th>
                </tr>
            </thead>

            <tbody>
                {% for wild in wild %}
                <tr>
                    <th scope="row">{{wild.id}}</th>
                    <td>{{wild.species_type}}</td>
                    <td>{{wild.no_of_species}}</td>
                    <td>{{wild.game_park}}</td>
                    <td>
                        <a href="">Edit</a>|
                        <a href="">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
        
    
 {% endblock content %}