{% extends './base.html' %}
    
{% block content %}
    
{% load crispy_forms_tags %}
    
        <h1>Add warden</h1>
        <form method="POST">
           {% csrf_token %}
           {{form|crispy}}
           <input type="submit" class="btn btn-success">
        </form>
        
           <a href="{% url 'index.html'%}">Back home</a>
        {% if msg %}
         {{msg}}
        {% endif %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">warden_name</th>
                    <th scope="col">warden_address</th>
                    <th scope="col">warden_contact</th>
                </tr>
            </thead>
            <tbody>
                {% for warden in warden %}
                <tr>
                    <th scope="row">{{warden.id}}</th>
                    <td>{{warden.warden_name}}</td>
                    <td>{{warden.warden_address}}</td>
                    <td>{{warden.warden_contact}}</td>
                    <td>
                        <a href="{% url 'edit_warden_page' warden.id %}">Edit</a>|
                        <a href="{% url 'delete_warden_page' warden_id=warden.id %}">Delete Warden</a>

                        
                        onclick="return confirm ('confirm to delete') ">
                        
                        Delete
                    </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        
        
{% endblock content %}
