{% extends './base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-wvfXp8c/Z9nPR+Zl/eR5d9BkpgSr+/MIbXzI1kR6DeVetan9gDz+3ZofP2LJZGpU8CjGFlvqUq0WfMhLs0K9Cg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Your form fields go here -->
        <button type="button" class="btn btn-primary"data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Warden
          </button></a>
    </form>

    {% if message %}
        {{ message }}
    {% endif %}

   <div class="container">

   </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">species_type</th>
                    <th scope="col">no_of_species</th>
                    <th scope="col">game-park</th>
                </tr>
            </thead>

            <tbody>
                {% for wild in wild %}
                <tr>
                    <th scope="row">{{wild.id}}</th>
                    <td>{{wild.species_type}}</td>
                    <td>{{wild.no_of_species}}</td>
                    <td>{{wild.game_park}}</td>
                    <td>
                        <a href="{% url 'edit_wild_page' wild.id %}"> 
                            <i class="fas fa-edit"></i> |
                        </a>
                        <a href="{% url 'delete_wild_page' wild.id %}"
                            onClick="return confirm('confirm to delete')">
                            <i class="fas fa-trash-alt"></i>
                        </a>
    
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>
        
    
 {% endblock content %}