{% extends './base.html' %}
{% load crispy_forms_tags %} 
{% block content %}

<h1><button type="submit" class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    add visitor
    </button></h1>
       <!-- Button trigger modal -->

   

   <div class="container">

   </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">name</th>
                    <th scope="col">age</th>
                    <th scope="col">contact</th>
                    <th scope="col">address</th>
                    <th scope="col">wild_life</th>
                </tr>
            </thead>

            <tbody>
                {% for visitor in visitor %}
                <tr>
                    <th scope="row">{{visitor.id}}</th>
                    <td>{{visitor.name}}</td>
                    <td>{{visitor.age}}</td>
                    <td>{{visitor.contact}}</td>
                    <td>{{visitor.address}}</td>
                    <td>{{visitor.wild_life}}</td>
                    <td>
                      

                        <a href="{% url 'edit_visitor_page' visitor.id %}"> 
                            <i class="fas fa-edit"></i> |
                        </a>
                        <a href="{% url 'delete_visitor_page' visitor.id %}"
                            onClick="return confirm('confirm to delete')">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        </div>
        
{% endblock content %}