{% extends './base.html' %}
    
{% block content %}
    
    <h1>WELCOME TO OASIS TOURISM SOLUTIONS</h1>
    <h2>LOCATION</h2>
    <P>We are located at NAPAK DISTRICT, P.O.BOX 12345 (u)</P>
    <h2>OUR SERVICES</h2>
    <p>Quick and cheap transport with confort accross the country</p>
    <p>Hospitality and affordable acommodation services</p>
    <h2>CONTACT US ON</h2>
    <P>You can contact us on 0771459421/0786003117/0742279145</P>



{% endblock content %}










