<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <a href="{% url 'wild.html'%}">wild</a>
    <a href="{% url 'warden.html'%}">warden</a>
      
</head>


<body>
    

    <section class="hero">
        <h1>WELCOME TO DESERT VIEW TOURISM SERVICES
        <h2>LOCATION</h2>
        <P>We are located at NAPAK DISTRICT, P.O.BOX 12345 (u)</P>
        <h2>OUR SERVICES</h2>
        <p>Quick and cheap transport with confort accross the country</p>
        <p>Hospitality and affordable acommodation services</p>
        <h2>CONTACT US ON</h2>
        <P>You can contact us on 0771459421/0786003117/0742279145</P>
        
    </section>

    <section class="featured">
        
        
        
            
        
    </section>
    
</body>
</html>