<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourism overview</title>
    <a href="{% url 'wild.html'%}">wild</a>
    
</head>

<body>
    <section class="#">
        <h1>WELCOME TO DESERT VIEW TOURISM SERVICES</h1>
        <h2>GAMEPARK DETAILS</h2>
    </section>
    <section>
        
            
    </section>

    <form action="#">
      <div id="menu-div"> 

        <p><input type="warden_id" name="Warden_id" id="input_1" placeholder="Warden_id"></p>
        <p><input type="Warden_name" name="Warden_name" id="input_2" placeholder="Warden_name"></p>
        <p><input type="text" name="Address" id="input_3" placeholder="Address"></p>
         
        <p><input type="text" name="Contact" id="input_4" placeholder="Contact"></p>
        
         <ul id="task-list"></ul>
        <p><button id="add-btn" onclick="AddTask()">AddTask</button></p> 
        
          
      
      </div>
       
          
          

            
</body>
</html>