<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> WILDLIFE DETAILS></Details></title>
    <a href="{% url 'index.html'%}">Back Home</a>
    <a href="{% url 'warden.html'%}">warden</a>
    
</head>
<body>
    <section class="">
        <h1>WELCOME TO DESERT VIEW TOURIS SERVICES</h1>
        <h2>WILDLIFE DETAILS</h2>
    </section>
        
      <form action="#">
        <div id="menu-div"> 
            
            <p><input type="Wildlife_id" name="Wildlife_id" id="menu-div" placeholder="Wildlife_id"></p>
            <p><input type="text" name="Species_type" id="menu-div" placeholder="Species_type"></p>
            
            <p><input type="text" name="No of species" id="menu-div" placeholder="No of species"></p>
            <p><input type="gamepark_id" name="Gamepark_id" id="menu-div" placeholder="Gamepark_id"></p>
           
            
           
            <p><button id="btn-SAVE">SAVE</button></p> 

        </div>

        
          
          
          
    
</body>
</html>